<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>TODO supply a title</title>
<meta charset="UTF-8">

<link
	href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
	rel="stylesheet">

<!-- Bootstrap CSS -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
	crossorigin="anonymous">
</head>
<body>
	
	<header class="p-3 bg-dark text-white">
        <div class="container">
          <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
            </a>
    
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
              <li><a href="#" class="nav-link px-2 text-secondary">Citas</a></li>
            </ul>
    
            
    
            <div class="text-end">
               <h4>Leon Felipe Rivera Rivera</h4>
            </div>
          </div>
        </div>
      </header>
	

	<div class="container mt-3">
	
	<h1>Citas</h1>
	<a th:href="@{/agregar}" class="btn btn-primary mb-3" href="#" role="button">Agregar</a>
	
		<div class="row">
			<div class="col">
				<table class="table table-striped table-dark">
					<thead>
						<tr>
							<th scope="col">#</th>
							<th scope="col">Nombre del Paciente</th>
							<th scope="col">Consultorio</th>
							<th scope="col">Doctor</th>
							<th scope="col">Fecha</th>
							<th scope="col">Editar</th>
							<th scope="col">Eliminar</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="cita : ${citas}">
							<td th:text="${cita.id}"></td>
							<td th:text="${cita.nombreDelPaciente}"></td>
							<td th:text="${cita.consultorio.numeroConsultorio}"></td> -->
							<td th:text="${cita.doctor.nombre}"></td>
							<td th:text="${cita.horarioConsulta}"></td>
							<td><a class="btn btn-warning" th:href="@{/editar/} + ${cita.id}">Editar</a></td>
							 <td><a class="btn btn-danger" th:href="@{/eliminar(id=${cita.id})}">Eliminar</a></td>

						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	
	<footer class="bg-light text-center text-lg-start">
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
          © 2021 Copyright
        </div>
        <!-- Copyright -->
      </footer>
	
	
	<!-- Optional JavaScript; choose one of the two! -->
	<!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
	<script
		src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
		crossorigin="anonymous"></script>
</body>
</html>